/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.course_block_wrap_8043 {
  display: none !important;
}
.course_block_wrap_4492 {
  display: none !important;
}
.course_block_wrap_7995 {
  display: none !important;
}
.course_block_wrap_4490 {
  display: none !important;
}
.course_block_wrap_4494 {
  display: none !important;
}
.course_block_wrap_141 {
  display: none !important;
}
/* .course_block_wrap_7606 {
  display: none !important;
}
.course_block_wrap_144 {
  display: none !important;
}
.course_block_wrap_4501 {
  display: none !important;
}
.course_block_wrap_4503 {
  display: none !important;
} */
