/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#user_role_container {
  display: inline-flex;
  flex-flow: row wrap;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}
#user_role_container > div {
  margin: 1rem;
  padding: 0.5rem;
  border: solid 2px black;
  border-radius: 5px;
}

.user_role_list_container {
  background-color: white;
  padding: 0.5rem;
  display: block;
  border: solid 2px black;
  border-radius: 5px;
  margin: 0.2rem;
}

.user_role_list_container > div {
  padding: 0.5rem;
  background-color: whitesmoke;
  font-size: larger;
}

.user_role_list_container > div:hover {
  cursor: pointer;
}
